/* =======================================================
    Icons
   ======================================================= */

//  The custom icon font

@font-face {
    font-family: 'snicons';
    src: url('../fonts/startingnow-regular-webfont.eot');
    src: url('../fonts/startingnow-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/startingnow-regular-webfont.woff') format('woff'),
         url('../fonts/startingnow-regular-webfont.ttf') format('truetype'),
         url('../fonts/startingnow-regular-webfont.svg#snicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

// The class

.icon {
  font-family: "snicons", arial;
  font-weight: normal;
  font-style: normal;
  &:before {
    content: attr(data-icon);
  }
  text-decoration: none;
  vertical-align: middle;
}

/**
 * Usage: here's the html to put elsewhere
 * <span class="icon" aria-hidden="true" data-icon="insert-letter-or-unicode-here"></span>
 */